body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

*:focus {
    outline: 2px dashed forestgreen;
}

button {
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    color: white;
    background-color: darkgreen;
    border: 2px solid darkgreen;
    min-width: 150px;
}

button:focus, button:active, button:hover {
    background-color: #008000;
    border: 2px solid #008000;
}
