.footer {
    background-color: #202020;
    color: white;
    padding: 20px 0 20px 0;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

.footer div {
    padding: 5px;
}

.clear-bttn{
    background-color: lightgray;
    border: 1px solid lightgray;
    color: black;
}
.clear-bttn:active, .clear-bttn:focus, .clear-bttn:hover {
    background-color: white;
    border: 1px solid white;
}

.clear-bttn:focus{
    outline: 2px dashed white;
}