.mainSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    max-height: 500px;
    flex: 1;
}
.mainSection .text-area{
    flex: 1;
}

.mainSection .text-area > form{
    display: flex;
    flex-direction: column;
}

.mainSection .text-area > form > *{
    padding: 15px;
    margin: 10px;
}

.mainSection .todo-list{
    flex: 2;
    height: 100%;
    border-right: 1px solid #222;
    margin: 20px 0 20px 0;
    overflow: auto;
    max-height: inherit;
}

.todo{
    text-align: left;
    border-top: 1px solid gray;
}
.todo span{
    flex: 1;
}

.active{
    text-decoration: line-through;
    color: gray;
    font-weight: normal !important;
}

.buttons-into-todo {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 35%;
    height: 100%;
}
.todo-text {
    display: inline-block;
    padding: 5px 0 5px 0;
    margin: 5px 0;
    width: 65%;
    font-weight: bold;
}

li {
    clear: both;
    width: 100%;
}

.done, .remove{
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    margin-right: 0.5em;
}
.done img, .remove img {
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .mainSection {
        flex-direction: column;
    }
    .mainSection .text-area {
        width: 90%;
    }
    .mainSection .todo-list{
        width: 90%;
        border-right: none;
        border-bottom: 1px solid #222;
    }
}